page-list {
.diva{
background-color: rgba(138,232,90,0.73);//#ddddddb3;
height:27%;
margin-top:0%;
//overflow-y: hidden;
}
.divb{
 height:30%;
 margin-top: 15%;
 //overflow-y: hidden;
}


ion-card.card{
  background: rgba(147, 208, 226, 0.5);
  border-radius: 10px;
}
.item{
  background: rgba(181, 147, 226, 0px);
}
ion-input{
  border-bottom: black solid 1px;
}

}



