page-status {
  ion-col{

    text-align: center;
    height: 40% !important;
    background-color: yellow;

  }


//style="width:103%;align-items: center; margin-left: 0%;"
//style="margin-top: 19%;"


}
