
$font-path: "../assets/fonts";


$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  navcolor:   #42d24d,
  card:       #ff6215//#b70640
  //#7265de
);

$toolbar-md-background: color($colors,navcolor);

@import "ionic.theme.default";




@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
